body{
    font-family:Arial;
    margin:40px;
    background:#fafafa;
}

h1{
    color:#1565C0;
}

#info{
    margin-top:20px;
    padding:20px;
    background:white;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}